@textColor: #4a4a4a;

.flex {
  display: flex;
}

.flex(@flex) {
  flex: @flex;
}

.align-center {
  align-items: center;
}

.align-top {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.font-size(@size) {
  font-size: @size;
}

.font-color {
  color: @textColor;
}